/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

/*  site specific styles  */

body {
	font-family: 'Podkova', courier, serif;
	background-color: #e9e7e7;
	color: #262626;
}

.sans {
	font-family: 'Open Sans', arial, sans-serif;
}

.shadow {
	box-shadow: 0 3px 15px #999;
	-webkit-box-shadow: 0 3px 15px #999;
	-moz-box-shadow: 0 3px 15px #999;
}

.img-shadow {
	-webkit-filter: drop-shadow(0px 3px 15px #999);
}


.header {
	background-image:url('/img/noise.png');
	background-color: #d9d9d9;
	border-bottom: 1px solid #bababa;
}

.name {
	padding: .625em;
	margin: .625em 0 2em 0;
}

.name-head {
	font-size: 1.7em;
	font-weight: 700;
}

.name-subhead {
	text-transform:uppercase;
	color: #4d4d4d;
}

.name-subhead .job-title {
	font-weight: 700;
}

.ribbon {
	width: 9.75em;
	height: 9.75em;
	position: absolute;
	left:50%;
    margin-left:-4.875em;
    z-index: 5;
    text-align: center;
}

.nav ul {
	float: right;
}

.nav ul > li {
	display: inline-block;
}

.nav-button {
	width: 4.25em;
	height: 4.25em;
	border-radius: 2.125em;
	-webkit-border-radius: 2.125em;
	-moz-border-radius: 2.125em;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;	
	background-position:center;
	background-color: #eeeeee;
	border: .375em solid #808080;
	background-repeat: no-repeat;
	margin: 0 .3em 0 .3em;
	background-size: 90%;
}

.nav-button:hover {
	border-color: #eea372;
}

#resume {
	background-image:url('/img/resume-icon.png');
}

#portfolio {
	background-image:url('/img/portfolio-icon.png');
}

#contact {
	background-image:url('/img/contact-icon.png');
}

.main-page {
	background-color: #fff;
	border: 1px solid #d1cfcf;
	border-radius: .625em;
	-webkit-border-radius: .625em;
	-moz-border-radius: .625em;
	position: relative;
	top: -1.25em;
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

.inset /* these override global .grid values to make a smaller grid within the page */ {
	width: 75%;
	max-width: 940px;
	margin: 0 auto;
}

.title-block {
	text-align: center;	
	width: 100%;
}

.page-title {
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	margin: 1.5em 0 1.5em 0;
	padding-bottom: .4em;
	border-bottom: 1px solid #eee;
	display: inline-block;
	width: 100%;
}

.body-text {
	line-height: 1.2em;
}

.section {
	margin: 1em 0 2em 0;
	overflow: auto;
}

.section-label {
	font-size: 1.4em;
	margin-bottom: 1em;
}

.job-entry {
	margin-bottom: 1.4em;
}

.job {
	margin-bottom: .4em;
}

.job-title, .skill-category, .description-header {
	font-weight: 700;
}

.job-period {
	font-size: .8em;
	color: #999999;
	line-height: 1.2em;
	margin-bottom: .3em;
}

.stacked-skill-list {
	margin-bottom: 1.5em;
}

.footer {
	background-image:url('/img/noise.png');
	background-color: #545454;
	border-top: 1px solid #bababa;
	position: relative;
	top: -2em;
	padding: 1.2em 0 4em 0;
	color: #949494;
	line-height: 1.2em;
}

.site-description {
	font-size: .8em;
}

.jade-description {
	font-size: .7em;
}

.site-description, .jade-description {
	margin-bottom: 1.6em;
}

.jade-description > .description-header {
	margin-bottom: .4em;
}



@media handheld, only screen and (max-width: 767px), only screen and (min-device-width : 320px) and (max-device-width: 480px) {
	.inset {
		/* these override global .grid values to make a smaller grid within the page */
		width: 100%;
	}

	.ribbon {
		width: 6.25em;
		height: 6.25em;
	    margin-left:-3.125em;
	}

	.name {
		text-align: center;
			margin: 5em 0 .5em 0;
	}

	.nav {
		text-align: center;
		margin-bottom: 2em;
	}

	.nav ul {
		float: none;		
	}

	.page-title {
		margin: .75em 0 1.5em 0;
	}

	.section {
		padding-right: 1.25em;
	}

}

@media handheld, only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	body {
		font-size: 250%;
	}

	.name {
		text-align: center;
			margin: 4em 0 .5em 0;
	}	

	.page-title {
		margin: .75em 0 0 0;
	}
}