/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

/*  site specific styles  */

body {
	font-family: 'Open Sans', arial, sans-serif;
	background-color: #e9e7e7;
	letter-spacing: .06em;
	font-size: 14px;
}

body, a {
	color: #262626;
}

strong {
	font-weight: 700;
}

.bullets1 {
	list-style: initial;
	padding-left: 2em;
}

.bullets2 {
	list-style: circle;
	padding-left: 4em;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.shadow {
	box-shadow: 0 3px 15px #999;
	-webkit-box-shadow: 0 3px 15px #999;
	-moz-box-shadow: 0 3px 15px #999;
}

.img-shadow {
	-webkit-filter: drop-shadow(0px 3px 15px #999);
}


.header {
	background-image:url('/img/noise.png');
	background-color: #d9d9d9;
	border-bottom: 1px solid #bababa;
	text-transform:uppercase;
}

.name, .name-home {
	padding: .625em;	
}

.name {
	margin: .625em 0 2em 0;
}

.name-home {
	text-align: center;
	margin: 11em 0 3em 0;
}

.name-head {
	font-size: 1.7em;
	font-weight: 700;
	margin-bottom: .3em;
}

.name-subhead {
	color: #4d4d4d;
	display: inline;
}

.name-subhead .job-title, .linkedin-connect, #email-submit {
	font-weight: 700;
}

.nav {
	float: right;
}

.nav ul > li, .nav-home ul > li {
	display: inline-block;
	padding-right: .75em;
}

.replace-text {
	overflow: hidden;	
	text-indent: 100%;
	white-space: nowrap;
}

.nav-button-home, .nav-button-inner, .linkedin-badge {
	background-position:center;
	background-repeat: no-repeat;
}

.nav-button-inner {
	background-color: #eeeeee;
	width: 4.25em;
	height: 4.25em;
	border-radius: 2.125em;
	-webkit-border-radius: 2.125em;
	-moz-border-radius: 2.125em;
	margin: 0 .3em;
	border: .375em solid #808080;
	background-size: 90%;
}

.selected {
	border-bottom: 5px solid;
	border-color: #808080;
}

.nav-button-home {
	background-color: #eeeeee;
	width: 8em;
	height: 8em;
	border-radius: 4em;
	-webkit-border-radius: 4em;
	-moz-border-radius: 4em;
	margin: 0 2.25em .75em 2.25em;
	border: .4em solid #808080;
	background-size: 70%;
}

.nav-button-home:hover, .nav-button-inner:hover  {
	border-color: #eea372;
}


.linkedin-badge {
	background-image:url('/img/linkedin-logo.png');
	height: 1.75em;
	width: 4.75em;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: .125em;
	-webkit-border-radius: .125em;
	-moz-border-radius: .125em;	
	vertical-align: middle;
	background-size: 85%;
	position: relative;
	top: -.125em;
}

.main-page {
	background-color: #fff;
	border: 1px solid #d1cfcf;
	border-radius: .625em;
	-webkit-border-radius: .625em;
	-moz-border-radius: .625em;
	position: relative;
	top: -1.25em;
	width: 95%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 3em;
}

.home-content {
	text-align: center;
	margin-bottom: 15em;
}

.welcome {
	margin: 3em 0 2em 0;
	font-size: 1.8em;
}

.first-word {
	font-size: 1.25em;
	display: block;
}

.inset /* these override global .grid values to make a smaller grid within the page */ {
	width: 75%;
	max-width: 940px;
	margin: 0 auto;
}

.inset-portfolio-detail /* these override global .grid values to make a smaller grid within the page */ {
	width: 95%;
	max-width: 1100px;
	margin: 0 auto;
}

.title-block {
	text-align: center;	
	width: 100%;
}

.page-title {
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	margin: 1.5em 0 1.5em 0;
	padding-bottom: .4em;
	border-bottom: 1px solid #eee;
	display: inline-block;
	width: 100%;
}

.jade {
	margin-top: 6em;
	text-align: center;
}

.jade img {
	border-radius: 50%;
}

.intro {
	margin-top: 1.5em; 
	margin-bottom: .75em;
}

.intro p {
	margin-bottom: .75em;
}

.body-text {
	line-height: 1.8em;
}

.section {
	margin: 1em 0 2em 0;
	overflow: auto;
}

.section-label {
	font-size: 1.4em;
	margin-bottom: 1em;
}

.job-entry {
	margin-bottom: 1.4em;
}

.job {
	margin-bottom: .4em;
}

.job-title, .skill-category, .description-header {
	font-weight: 700;
}

.job-period {
	font-size: .8em;
	color: #999999;
	line-height: 1.2em;
	margin-bottom: .3em;
}

.stacked-skill-list {
	margin-bottom: 1.5em;
}

.footer {
	text-align: right;
	color: #949494;
	font-size: .8em;
}

.footer p {
	padding-bottom: 1em;
}

.linkedin-connect {
	text-align: right;
	position: relative;
	top: -1.5em;
}

.email-form {
	margin-bottom: 4em;
}

.form-style {
	font-size: 1.4em;
	border: 1px solid #ccc;
}

.email-address {
	width: 70%;
}

.email-message {
	width: 100%;
	height: 10em;
}

#email-submit {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #717171), color-stop(1, #545454) );
	background: -moz-linear-gradient( center top, #717171 5%, #545454 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#717171', endColorstr='#545454');
	background-color: #717171;
	-moz-border-radius: .125em;
	-webkit-border-radius: .125em;
	border-radius: .125em;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #dcdcdc;
	font-size: 2em;
	padding: .25em 1em;
	margin-top: .5em;
	text-decoration: none;
}

#email-submit:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #545454), color-stop(1, #717171) );
	background: -moz-linear-gradient( center top, #545454 5%, #717171 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#717171');
	background-color: #545454;
}

#email-submit:active {
	position: relative;
	top: 1px;
}

.portfolio-list-item {
	text-align: center;
	line-height: 1.5em;
	/* margin-bottom: 2.5em; */
}

.portfolio-list-item h2 {
	font-size: 1.25em;
	font-weight: 700;
}

.portfolio-thumbnail {
	max-height: 300px;
	margin: 0 auto;
	margin-bottom: 1em;
	overflow: hidden;
}

img.scale {
	/* corrects inline gap in enclosing div */
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	width: auto\9; /* ie8+9 */
	/* lt ie8 */
	-ms-interpolation-mode: bicubic; 
}


.portfolio-detail-thumbnail img {
	margin: 0 auto;
	border: 1px solid;
}

.hero-image {
	height: 40em;
	width: 100%;
	background-color: #c7c9c8;
	margin-top: 2em;
	display: table-cell;
    vertical-align: bottom;
    padding-bottom: 2em;
    padding-right: 20%;
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;    
}


#cycling-class-booking-hero {
	background-image: url("/cycling-class-booking/img/cycling-class-booking-hero.jpg");
}

#ux-ui-standardization-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/ux-ui-standardization/img/ux-ui-standardization-hero.jpg");
}

#trainer-app-programming-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/trainer-app-programming/img/trainer-app-programming-hero.jpg");
}

#ambient-experience-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/ambient-experience/img/ambient-experience-hero.jpg");
	background-position: center;
}

#amex-fraud-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/amex-fraud/img/amex-fraud-hero.png");
}

#amex-ultimate-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/amex-ultimate/img/amex-ultimate-hero.png");
}

#samsung-support-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url("/samsung-support/img/samsung-support-hero.png");
}

#ios-home-nav-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url("/ios-home-nav/img/ios-home-nav-hero.png");
}

#product-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url("/product/img/product-hero.jpg");
}

#pilates-purchase-hero {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url("/pilates-purchase/img/pilates-purchase-hero.jpg");
}


.hero-image h1 {
	font-size: 1.75em;
	font-weight: 700;
	margin-bottom: .5em;
}

.hero-image p {
	font-size: 1.2em;
	margin-bottom: .5em;
}

.hero-text-white {
    color: #fff;
}

.portfolio-detail-section {
	margin-top: 2em;
	margin-bottom: 1em;
}

.portfolio-detail-section h2 {
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: .5em;
}

.portfolio-detail-section h3 {
	font-weight: 700;
	margin-bottom: .5em;
}

.portfolio-detail-section > p ul {
	margin-bottom: .5em;
	color: #696969;
	padding-right: 20%;
}

.back-link {
	margin-top: 2em;
	margin-bottom: 1em;
}



