* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u2_normal.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u10_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u18_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u20_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u22_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u24_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u26_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u28_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u30_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u32_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u34_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u36_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u38_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u38_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u42_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u44_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u47_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u49_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u49_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u49_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u55_normal.png");
}

* html .u58_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u55_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u55_normal.png");
}

* html .u64_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/selectedbuttonstyle2_u64_selected.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/selectedbuttonstyle2_u64_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u49_normal.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u69_normal.png");
}

* html .u71_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u73_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u77_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u89_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u91_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u95_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u102_normal.png");
}

* html .u104_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u104_normal.png");
}

* html .u106_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u106_normal.png");
}

* html .u111_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u104_normal.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u106_normal.png");
}

* html .u116_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u104_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u106_normal.png");
}

* html .u121_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u104_normal.png");
}

* html .u123_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u106_normal.png");
}

* html .u128_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u128_normal.png");
}

* html .u130_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u130_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u104_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u139_normal.png");
}

* html .u143_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u102_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u49_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u71_normal.png");
}

* html .u149_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u73_normal.png");
}

* html .u153_mouseDown {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/selectedbuttonstyle_u153_mouseDown.png");
}

* html .u153_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/selectedbuttonstyle_u153_mouseDown.png");
}

* html .u153_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/selectedbuttonstyle_u153_normal.png");
}

* html .u157_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u128_normal.png");
}

* html .u159_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="B__New_Recommendation__Trainer_Moved___Step_1_files/u130_normal.png");
}

