body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../B__Step_3_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:75px;
    width:320px;
    height:684px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:690px;
}

.u1 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:15px;
    top:707px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../B__Step_3_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:179px;
    top:691px;
    width:131px;
    height:46px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:52px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:127px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../B__Step_3_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:511px;
    width:320px;
    height:155px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:161px;
}

.u6 {
    position:absolute;
    left:2px;
    top:70px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../B__Step_3_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:199px;
    top:521px;
    width:16px;
    height:16px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:215px;
    top:522px;
    width:105px;
    height:16px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:22px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:7px;
    top:551px;
    width:295px;
    height:15px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:21px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:12px;
    top:582px;
    width:222px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:12px;
    top:607px;
    width:222px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:187px;
    top:641px;
    width:133px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../B__Step_3_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:42px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u19 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../B__Step_3_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:42px;
    width:320px;
    height:33px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:39px;
}

.u21 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../B__Step_3_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:10px;
    top:301px;
    width:300px;
    height:189px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:195px;
}

.u23 {
    position:absolute;
    left:2px;
    top:86px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:26px;
    top:315px;
    width:270px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u26_container {
    position:absolute;
    left:26px;
    top:365px;
    width:222px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:26px;
    top:386px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u29_container {
    position:absolute;
    left:26px;
    top:421px;
    width:222px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:26px;
    top:441px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:199px;
    top:133px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:199px;
    top:178px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:7px;
    top:257px;
    width:306px;
    height:22px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:28px;
}

.u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:306px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

