body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1002px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:12px;
    top:136px;
    width:524px;
    height:29px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:530px;
    height:35px;
}

.u1 {
    position:absolute;
    left:2px;
    top:2px;
    width:520px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u2_container {
    position:absolute;
    left:29px;
    top:200px;
    width:96px;
    height:36px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:42px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:148px;
    top:200px;
    width:66px;
    height:36px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:42px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:62px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u6_container {
    position:absolute;
    left:252px;
    top:200px;
    width:107px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:42px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:103px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:12px;
    top:208px;
    width:10px;
    height:10px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:12px;
    top:276px;
    width:242px;
    height:23px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:248px;
    height:29px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:238px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:935px;
    top:6px;
    width:55px;
    height:28px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:55px;
    height:28px;
}

.u13 {
    position:absolute;
    left:2px;
    top:6px;
    width:51px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:48px;
    width:113px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:3px;
    width:109px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:315px;
    top:86px;
    width:207px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:8px;
    width:203px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:522px;
    top:86px;
    width:229px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:235px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:225px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:913px;
    top:86px;
    width:77px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:750px;
    top:86px;
    width:163px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:169px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:8px;
    width:159px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:12px;
    top:86px;
    width:136px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:132px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:148px;
    top:86px;
    width:170px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:166px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:12px;
    top:36px;
    width:99px;
    height:32px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:32px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:951px;
    top:56px;
    width:38px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:3px;
    width:34px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:639px;
    top:-1px;
    width:50px;
    height:24px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:30px;
}

.u33 {
    position:absolute;
    left:2px;
    top:6px;
    width:46px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:689px;
    top:1px;
    width:77px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:83px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:73px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:774px;
    top:1px;
    width:61px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:26px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:845px;
    top:1px;
    width:61px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:26px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:57px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:234px;
    top:48px;
    width:71px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:3px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:934px;
    top:87px;
    width:35px;
    height:28px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:28px;
}

.u43 {
    position:absolute;
    left:2px;
    top:6px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u44 {
    position:absolute;
    left:0px;
    top:283px;
    width:1003px;
    height:1029px;
    overflow:hidden;
}

#pd1u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:1003px;
    height:1029px;
    
}

.u45_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/Available_Tiers_u45_normal.png');
}

.u45_container {
    position:absolute;
    left:12px;
    top:372px;
    width:990px;
    height:77px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u46 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/Available_Tiers_u45_normal.png');
}

.u47_container {
    position:absolute;
    left:12px;
    top:285px;
    width:990px;
    height:77px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u48 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/Available_Tiers_u45_normal.png');
}

.u49_container {
    position:absolute;
    left:12px;
    top:200px;
    width:990px;
    height:77px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u50 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/Available_Tiers_u45_normal.png');
}

.u51_container {
    position:absolute;
    left:12px;
    top:115px;
    width:990px;
    height:77px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u52 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:253px;
    top:128px;
    width:246px;
    height:52px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u54 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:374px;
    top:140px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u53_normal.png');
}

.u56_container {
    position:absolute;
    left:253px;
    top:213px;
    width:246px;
    height:52px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u57 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:374px;
    top:225px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:253px;
    top:298px;
    width:246px;
    height:52px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u60 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:374px;
    top:310px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u53_normal.png');
}

.u62_container {
    position:absolute;
    left:253px;
    top:383px;
    width:246px;
    height:52px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u63 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:374px;
    top:395px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:12px;
    top:30px;
    width:990px;
    height:77px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u66 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_selected {
    background-image: url('../A__Buy_same_tier__Step_1_files/selectedbuttonstyle2_u67_selected.png');
}

.u67_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/selectedbuttonstyle2_u67_normal.png');
}

.u67_container {
    position:absolute;
    left:252px;
    top:41px;
    width:240px;
    height:52px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:58px;
}

.u68 {
    position:absolute;
    left:25px;
    top:16px;
    width:213px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:492px;
    top:128px;
    width:246px;
    height:52px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u70 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:739px;
    top:128px;
    width:252px;
    height:52px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u72 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:613px;
    top:140px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:878px;
    top:139px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u75_container {
    position:absolute;
    left:492px;
    top:213px;
    width:246px;
    height:52px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u76 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u77_container {
    position:absolute;
    left:739px;
    top:213px;
    width:252px;
    height:52px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u78 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:613px;
    top:225px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:878px;
    top:225px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u81_container {
    position:absolute;
    left:492px;
    top:298px;
    width:246px;
    height:52px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u82 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u83_container {
    position:absolute;
    left:739px;
    top:298px;
    width:252px;
    height:52px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u84 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:613px;
    top:310px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:878px;
    top:308px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u87_container {
    position:absolute;
    left:492px;
    top:383px;
    width:246px;
    height:52px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u88 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u89_container {
    position:absolute;
    left:739px;
    top:383px;
    width:252px;
    height:52px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u90 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:613px;
    top:395px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:878px;
    top:394px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u93_container {
    position:absolute;
    left:492px;
    top:41px;
    width:246px;
    height:52px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u94 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u95_container {
    position:absolute;
    left:739px;
    top:41px;
    width:252px;
    height:52px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u96 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:768px;
    top:79px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:613px;
    top:53px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:878px;
    top:51px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:361px;
    top:53px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:758px;
    width:1002px;
    height:200px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:206px;
}

.u102 {
    position:absolute;
    left:0px;
    top:93px;
    width:1002px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_disabled {
    background-image: url('../A__Buy_same_tier__Step_1_files/next_u103_disabled.png');
}

.u103_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/next_u103_normal.png');
}

.u103_container {
    position:absolute;
    left:12px;
    top:667px;
    width:138px;
    height:25px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:31px;
}

.u104 {
    position:absolute;
    left:2px;
    top:4px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:12px;
    top:523px;
    width:175px;
    height:102px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:108px;
}

.u106 {
    position:absolute;
    left:25px;
    top:10px;
    width:148px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:20px;
    top:562px;
    width:154px;
    height:52px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:58px;
}

.u108 {
    position:absolute;
    left:15px;
    top:16px;
    width:137px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:116px;
    top:569px;
    width:75px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u110_container {
    position:absolute;
    left:12px;
    top:496px;
    width:182px;
    height:27px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:188px;
    height:33px;
}

.u111 {
    position:absolute;
    left:0px;
    top:4px;
    width:180px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u105_normal.png');
}

.u112_container {
    position:absolute;
    left:195px;
    top:523px;
    width:175px;
    height:102px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:108px;
}

.u113 {
    position:absolute;
    left:25px;
    top:10px;
    width:148px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u107_normal.png');
}

.u114_container {
    position:absolute;
    left:203px;
    top:562px;
    width:154px;
    height:52px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:58px;
}

.u115 {
    position:absolute;
    left:15px;
    top:16px;
    width:137px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:300px;
    top:569px;
    width:75px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u105_normal.png');
}

.u117_container {
    position:absolute;
    left:379px;
    top:523px;
    width:175px;
    height:102px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:108px;
}

.u118 {
    position:absolute;
    left:25px;
    top:10px;
    width:148px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u107_normal.png');
}

.u119_container {
    position:absolute;
    left:387px;
    top:562px;
    width:154px;
    height:52px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:58px;
}

.u120 {
    position:absolute;
    left:15px;
    top:16px;
    width:137px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:483px;
    top:569px;
    width:75px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u105_normal.png');
}

.u122_container {
    position:absolute;
    left:563px;
    top:523px;
    width:175px;
    height:102px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:108px;
}

.u123 {
    position:absolute;
    left:25px;
    top:10px;
    width:148px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u107_normal.png');
}

.u124_container {
    position:absolute;
    left:571px;
    top:562px;
    width:154px;
    height:52px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:58px;
}

.u125 {
    position:absolute;
    left:15px;
    top:16px;
    width:137px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:667px;
    top:569px;
    width:75px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:12px;
    top:452px;
    width:755px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:768px;
    top:166px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:768px;
    top:250px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:768px;
    top:336px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:768px;
    top:421px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u105_normal.png');
}

.u132_container {
    position:absolute;
    left:750px;
    top:523px;
    width:175px;
    height:102px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:108px;
}

.u133 {
    position:absolute;
    left:25px;
    top:10px;
    width:148px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:758px;
    top:562px;
    width:154px;
    height:52px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:58px;
}

.u135 {
    position:absolute;
    left:15px;
    top:16px;
    width:137px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:854px;
    top:569px;
    width:75px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:1003px;
    height:1029px;
    
}

#u137 {
    position:absolute;
    left:12px;
    top:236px;
    width:139px;
    height:26px;
    overflow:hidden;
}

#pd1u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:26px;
    
}

.u138_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:25px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:31px;
}

.u139 {
    position:absolute;
    left:2px;
    top:5px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u137 {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:26px;
    
}

.u140_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:25px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:144px;
    height:31px;
}

.u141 {
    position:absolute;
    left:2px;
    top:5px;
    width:134px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:12px;
    top:131px;
    width:119px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/Available_Tiers_u45_normal.png');
}

.u143_container {
    position:absolute;
    left:12px;
    top:44px;
    width:990px;
    height:77px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:996px;
    height:83px;
}

.u144 {
    position:absolute;
    left:25px;
    top:28px;
    width:963px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u101_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:293px;
    width:1002px;
    height:200px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1008px;
    height:206px;
}

.u146 {
    position:absolute;
    left:0px;
    top:93px;
    width:1002px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u69_normal.png');
}

.u147_container {
    position:absolute;
    left:492px;
    top:56px;
    width:246px;
    height:52px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:252px;
    height:58px;
}

.u148 {
    position:absolute;
    left:25px;
    top:16px;
    width:219px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/u71_normal.png');
}

.u149_container {
    position:absolute;
    left:739px;
    top:56px;
    width:252px;
    height:52px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:258px;
    height:58px;
}

.u150 {
    position:absolute;
    left:25px;
    top:16px;
    width:225px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:613px;
    top:67px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:878px;
    top:65px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseDown {
    background-image: url('../A__Buy_same_tier__Step_1_files/selectedbuttonstyle2_u67_selected.png');
}

.u153_selected {
    background-image: url('../A__Buy_same_tier__Step_1_files/selectedbuttonstyle2_u67_selected.png');
}

.u153_normal {
    background-image: url('../A__Buy_same_tier__Step_1_files/selectedbuttonstyle2_u67_normal.png');
}

.u153_container {
    position:absolute;
    left:251px;
    top:56px;
    width:240px;
    height:52px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:58px;
}

.u154 {
    position:absolute;
    left:25px;
    top:16px;
    width:213px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:361px;
    top:67px;
    width:113px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156 {
    position:absolute;
    left:768px;
    top:94px;
    width:60px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

