* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Appendix__Confirmation_page_CTA__In_App_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Appendix__Confirmation_page_CTA__In_App_files/u2_normal.png");
}

