body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../B__Step_3_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:75px;
    width:320px;
    height:935px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:941px;
}

.u1 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:214px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../B__Step_3_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:7px;
    top:725px;
    width:306px;
    height:144px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:312px;
    height:150px;
}

.u3 {
    position:absolute;
    left:15px;
    top:10px;
    width:276px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:15px;
    top:890px;
    width:51px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../B__Step_3_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:7px;
    top:924px;
    width:131px;
    height:46px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:52px;
}

.u6 {
    position:absolute;
    left:2px;
    top:14px;
    width:127px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../B__Step_3_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:284px;
    height:3px;
}

.u9 {
    position:absolute;
    left:18px;
    top:821px;
    width:284px;
    height:10px;
    
}

.u10_normal {
    background-image: url('../B__Step_3_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:555px;
    width:320px;
    height:155px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:161px;
}

.u11 {
    position:absolute;
    left:2px;
    top:70px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../B__Step_3_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:199px;
    top:565px;
    width:16px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:215px;
    top:566px;
    width:105px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:111px;
    height:22px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:101px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:7px;
    top:595px;
    width:295px;
    height:15px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:21px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:12px;
    top:626px;
    width:222px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:12px;
    top:651px;
    width:222px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:208px;
    top:287px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:208px;
    top:142px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:208px;
    top:213px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:187px;
    top:685px;
    width:133px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:139px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:129px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../B__Step_3_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:42px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:48px;
}

.u27 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../B__Step_3_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:42px;
    width:320px;
    height:33px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:39px;
}

.u29 {
    position:absolute;
    left:10px;
    top:10px;
    width:300px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../B__Step_3_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:10px;
    top:345px;
    width:300px;
    height:189px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:195px;
}

.u31 {
    position:absolute;
    left:2px;
    top:86px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u32_container {
    position:absolute;
    left:26px;
    top:359px;
    width:270px;
    height:40px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:46px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:266px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u34_container {
    position:absolute;
    left:26px;
    top:409px;
    width:222px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:26px;
    top:430px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:26px;
    top:465px;
    width:222px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:228px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:218px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:26px;
    top:485px;
    width:270px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

